<footer>
  <section class="footer_inner_container">

    <section class="footer_info">
      <a href="#">
        <figure>
          <img src="/./assets/gundam_logo.webp" alt="#">
        </figure>
      </a>
      <section class="footer_info-mailbox">
        <p>Subscribe for monthly shop updates</p>
        <form class="footer_mail_form" action="index.html" method="post">
          <fieldset>
            <input type="email" name="email" placeholder="Enter your email">
            <input type="submit" name="submit" value="Subscribe">
          </fieldset>
        </form>
      </section>
    </section>

    <section class="footer_links">
      <section class="footer_links-list">
        <h3>Products</h3>
        <ul>
          <li>
            <a href="#">High Grade</a>
          </li>
          <li>
            <a href="#">Master Grade</a>
          </li>
          <li>
            <a href="#">Real Grade</a>
          </li>
          <li>
            <a href="#">Perfect Grade</a>
          </li>
        </ul>
      </section>
      <section class="footer_links-list">
        <h3>Company</h3>
        <ul>
          <li>
            <a href="#">Jobs</a>
          </li>
          <li>
            <a href="#">Product Recall</a>
          </li>
          <li>
            <a href="#">Press Room</a>
          </li>
          <li>
            <a href="#">Gundam Stores</a>
          </li>
        </ul>
      </section>
      <section class="footer_links-list">
        <h3>Resources</h3>
        <ul>
          <li>
            <a href="#">News</a>
          </li>
          <li>
            <a href="#">Events</a>
          </li>
          <li>
            <a href="#">Information</a>
          </li>
        </ul>
      </section>
      <section class="footer_links-list">
        <h3>Contact</h3>
        <ul>
          <li>
            <a href="#">Email</a>
          </li>
          <li>
            <a href="#">Mail</a>
          </li>
          <li>
            <a href="#">Investors</a>
          </li>
        </ul>
      </section>
      <section class="footer_links-list">
        <h3>Legal</h3>
        <ul>
          <li>
            <a href="#">Terms of Service</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Cookie Policy</a>
          </li>
        </ul>
      </section>
    </section>

    <section class="footer_bottom_socials">
      <p>All webshops are online</p>
      <ul>
        <li><a href="#">X</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">Slack</a></li>
      </ul>
      <p>all rights reserved to Bandai Namco © 2019</p>
    </section>

  </section>
</footer>
