<section class="main-container">
  <section class="login-container">
    <h1>Login</h1>
    <form class="login-form" (ngSubmit)="submitLogin()">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="username"
        [(ngModel)]="username"
        autocomplete="name"
        required
      />

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        [(ngModel)]="password"
        autocomplete="off"
        placeholder="password"
      />

      <button type="submit">Log in</button>
      <button class="register" [routerLink]="'/register'">Registreer</button>
    </form>
  </section>
</section>
